<%= form_with(model: found_report, html: { class: "form" }) do |form| %>
  <% if found_report.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(found_report.errors.count, "error") %> prohibited this found_report from being saved:</h2>
      <ul>
        <% found_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :item_name %>
      <%= form.text_field :item_name, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :location_found %>
      <%= form.text_field :location_found, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= form.label :date %>
      <%= form.datetime_field :date, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control-file" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, FoundReport.statuses.keys, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category, FoundReport.categories.keys, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, maxlength: 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>