<div id="<%= dom_id found_report %>">
  <p>
    <strong>Item name:</strong>
    <%= found_report.item_name %>
  </p>

  <p>
    <strong>Location found:</strong>
    <%= found_report.location_found %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= found_report.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= found_report.description %>
  </p>

</div>
