
<div class="container mt-5">
  <h1 class="mb-4">Lost & Found</h1>

  <%= search_form_for @q, url: found_reports_path, method: :get, html: { class: "mb-4" } do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description_cont, class: 'form-control' %>
    </div>           
    <%= f.submit "Search", class: 'btn btn-primary mr-2' %>
    <%= link_to "Clear", root_path, class: 'btn btn-secondary' %>
  <% end %>

  <div class="row">
    <% @found_reports.each do |found_report| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= found_report.item_name %></h5>
            <p class="card-text"><%= truncate(found_report.description, length:100) %></p>
            <%= link_to 'Read More', found_report, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
