<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Item Name: <%= @found_report.item_name %></h5>
          <p class="card-text"><strong>Status:</strong> <%= @found_report.status.capitalize if @found_report.status.present? %></p>
          <p class="card-text"><strong>Description:</strong> <%= @found_report.description %></p>
          <p class="card-text"><strong>Category:</strong> <%= @found_report.category %></p>
          <!-- Add other content for the first column here -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex justify-content-center align-items-center">
          <% if @found_report.image.present? %>
            <%= image_tag @found_report.image.url, class: 'img-fluid', style: 'max-width: 300px;' %>
          <% else %>
            <%= image_tag 'placeholder_image.jpg', class: 'img-fluid', style: 'max-width: 300px;' %>
          <% end %>
          <!-- Add content for the second column here -->
        </div>
      </div>
    </div>
  </div>

  <% if @found_report.status == 'found' %>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Claim Found Item</h5>
        <%= form_with(model: @order, url: checkout_found_report_path(@found_report)) do |form| %>
          <div class="form-group">
            <%= form.label :name, "Your Name" %>
            <%= form.text_field :name, class: 'form-control', placeholder: "Enter your name" %>
          </div>
          <div class="form-group">
            <%= form.label :address, "Your Address" %>
            <%= form.text_field :address, class: 'form-control', placeholder: "Enter your address" %>
          </div>
          <div class="form-group">
            <%= form.submit "Claim", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card mt-3">
    <div class="card-body d-flex justify-content-between">
      <%= link_to root_path, class: "btn btn-primary" do %>
        <i class="bi bi-arrow-left"></i>
        Back
      <% end %>
      <% if can? :update, @found_report %>
        <%= link_to edit_found_report_path(@found_report), class: "btn btn-warning" do %>
          <i class="bi bi-pencil"></i>
          Edit
        <% end %>
      <% end %>
      <% if can? :destroy, @found_report %>
        <%= button_to "Destroy", @found_report, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>
