
<div class="container">
  <% content_for :og_tags do %>
    <meta property="og:description" content="<%= @found_report.description %>" />
    <meta property="og:image" content="<%= @found_report.image_url %>">
    <meta property="og:url" content="<%= found_report_url(@found_report) %>" />
  <% end %>

  <div class="row">
    <!-- First column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= render @found_report %>
          <!-- Add content for the first column here -->
        </div>
      </div>
    </div>

    <!-- Second column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex justify-content-center align-items-center">
          <% if @found_report.image.present? %>
            <%= image_tag @found_report.image.url, class: 'img-fluid', style: 'max-width: 300px;' %>
          <% else %>
            <%= image_tag 'placeholder_image.jpg', class: 'img-fluid', style: 'max-width: 300px;' %>
          <% end %>
          <!-- Add content for the second column here -->
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body d-flex justify-content-between">
      <%= button_to "Back to found reports", found_reports_path, method: :get, class: "btn btn-primary" %>
      <%= button_to "Edit this found report", edit_found_report_path(@found_report), method: :get, class: "btn btn-warning" %>
      <%= link_to "Share on Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape(found_report_url(@found_report))}", class: "btn btn-primary", target: "_blank", rel: "noopener noreferrer" %>
      <%= link_to "Share on WhatsApp", "whatsapp://send?text=#{CGI.escape(@found_report.description)}%20-%20#{CGI.escape(found_report_url(@found_report))}", class: "btn btn-success", target: "_blank", rel: "noopener noreferrer" %>
      <%= button_to "Destroy this found report", @found_report, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
