<div class="container">
  <% content_for :og_tags do %>
    <meta property="og:description" content="<%= @found_report.description %>" />
    <meta property="og:image" content="<%= @found_report.image_url %>">
    <meta property="og:url" content="<%= found_report_url(@found_report) %>" />
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Item Name: <%= @found_report.item_name %></h5>
          <p class="card-text"><strong>Status:</strong> <%= @found_report.status.capitalize if @found_report.status.present? %></p>
          <p class="card-text"><strong>Description:</strong> <%= @found_report.description %></p>
          <p class="card-text"><strong>Category:</strong> <%= @found_report.category %></p>
          <!-- Add other content for the first column here -->
        </div>
      </div>
      <!-- Advertisement space -->
      <div class="card mt-3 p-3 bg-light">
        Advertisement
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex justify-content-center align-items-center">
          <% if @found_report.image.present? %>
            <%= image_tag @found_report.image.url, class: 'img-fluid', style: 'max-width: 300px;' %>
          <% else %>
            <%= image_tag 'placeholder_image.jpg', class: 'img-fluid', style: 'max-width: 300px;' %>
          <% end %>
          <!-- Add content for the second column here -->
        </div>
      </div>
      <!-- Advertisement space -->
      <div class="card mt-3 p-3 bg-light">
        Advertisement
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body d-flex justify-content-between">
      <%= link_to root_path, class: "btn btn-primary" do %>
        <i class="bi bi-arrow-left"></i>
        Back
      <% end %>
      <% if can? :update, @found_report %>
        <%= link_to edit_found_report_path(@found_report), class: "btn btn-warning" do %>
          <i class="bi bi-pencil"></i>
          Edit
        <% end %>
      <% end %>
      <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape(found_report_url(@found_report))}", class: "btn btn-primary", target: "_blank", rel: "noopener noreferrer" do %>
        <i class="bi bi-facebook"></i>
        Facebook
      <% end %>
      <%= link_to "whatsapp://send?text=#{CGI.escape(@found_report.description)}%20-%20#{CGI.escape(found_report_url(@found_report))}", class: "btn btn-success", target: "_blank", rel: "noopener noreferrer" do %>
        <i class="bi bi-whatsapp"></i>
        WhatsApp
      <% end %>
      <% if can? :destroy, @found_report %>
        <%= button_to "Destroy", @found_report, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>
