<%= form_with(model: lost_report) do |form| %>
  <% if lost_report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lost_report.errors.count, "error") %> prohibited this lost_report from being saved:</h2>

      <ul>
        <% lost_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :date_lost, style: "display: block" %>
    <%= form.datetime_field :date_lost %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
