<p style="color: green"><%= notice %></p>

<%= render @lost_report %>

<div>
  <%= link_to "Edit this lost report", edit_lost_report_path(@lost_report) %> |
  <%= link_to "Back to lost reports", lost_reports_path %>

  <%= button_to "Destroy this lost report", @lost_report, method: :delete %>
</div>
