<!-- _navbar.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Logo Link -->
  <a class="navbar-brand rounded-circle" href="<%= root_path %>">
    <!-- Logo Image -->
   <!-- <%= image_tag("logo.png", alt: "Lost & Found Logo", height: "50") %> -->
   <%= image_tag 'logo.png', alt: 'Lost & Found Logo', height: '50' %>

  </a>

  <!-- Navbar Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link text-light" %>
      </li>
      <li class="nav-item">
        <%= link_to "New found report", new_found_report_path, class: "nav-link text-light" %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light nav-link font-weight-bold" %>
        <% else %>
          <%= button_to "Sign in", new_user_session_path, class: "btn btn-outline-light nav-link font-weight-bold" %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <span class="navbar-text text-light">
            Welcome <%= current_user.email %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
